<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="root.css" />
    <title>LearnThai</title>
  </head>
  <body>
    <header class="pageHeader">
      <h1>LearnThai</h1>
    </header>
    <main class="main">
      <h3 class="description">To access the data, use endpoints:</h3>
      <ul>
        <li><a href="/consonants">Consonants</a></li>
        <li><a href="/phrases">Phrases</a></li>
        <li><a href="/numbers">Numbers</a></li>
      </ul>

      <section class="info">
        <p>
          For more information on how to access and use the data, please refer
          to the
          <a
            class="ghLink"
            href="https://github.com/Mhawkins28/LearnThai-Server"
            >Github documentaion</a
          >
        </p>
      </section>
    </main>
  </body>
</html>
